{% set longdash = '&#8212;' %}
{% set name = 'Алексей' %}
{% set phone_number = '+7 (915) 721 86-57' %}
{% set whats_app_chat_link = 'https://wa.me/79157218657' %}
{% set callback_link = 'https://forms.yandex.com/u/66002939e010db5243a471ce/' %}
{% set tel_link = 'tel:+79157218657'%}
{% set copyright_symbol = '©' %}
{% set copyright_year = '2024' %}
{% set site_developer_name = 'Степан Захаров' %}
{% set site_developer_contact_link = 'https://stepanzh.github.io' %}


<!DOCTYPE html>
<html lang='ru'>
<head>
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title>Алексей и Александр {{ longdash }} Бригада строителей из Калязина</title>
  <meta name='description' content='Мы бригада опытных строителей. Работаем в Тверской, Московской и Ярославской областях. Специализируемся на строительных, отделочных, кровельных и ремонтных работах в загородных домах и участках.'>
  <meta name='keywords' content='калязин,тверь,кашин,углич,сергиев посад,талдом,кимры,дубна,построить,бригада строителей,услуги строителей,ремонт,ремонтные работы,кровельные работы,дача,сруб,баня,сарай,беседка,теплица,веранда,балкон,фундамент,крыша,туалет,водосток,стена,пол,забор,отделка'>
  <link rel='preconnect' href='https://fonts.googleapis.com'>
  <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
  <link href='https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap' rel='stylesheet'>
  <link rel='stylesheet' href='css/index.css'>
</head>
<body>
  <div class='welcome'>
    <header class='welcome-cont'>
      <h1 class='welcome-h'>Бригада строителей из&nbsp;Калязина</h1>
      <section class='welcome-names'>
        <section class='welcome-name'>
          <h2 class='welcome-fname'>Алексей</h2>
          <h3 class='welcome-exp'>&gt;20 лет опыта</h2>
        </section>
        <section class='welcome-name'>
          <h2 class='welcome-fname'>Александр</h2>
          <h3 class='welcome-exp'>&gt;10 лет опыта</h2>
        </section>
      </section>
      <a class='btn-primary btn-welcome' href='#cont-section'>Связаться с нами</a>
    </header>
  </div>
  <div class='nav-wrap'>
    <nav>
      <div class='nav-left'>
        <a class='nav-link' href='#serv-section'>Услуги</a>
        <a class='nav-link' href='#proj-section'>Проекты</a>
      </div>
      <div class='nav-right'>
        <!-- TODO: сменить на диалоговое окно -->
        <a class='nav-link-primary' href='#cont-section'>Связаться</a>
      </div>
    </nav>
  </div>
  <div class='content-wrap'>
    <article>
      <header>
        <h1 class='card-h1'>География работ</h1>
      </header>
      <section class='card'>
        <p class='geo-p-primary'><b>Тверская</b>, <b>Московская</b> и <b>Ярославская</b> области.</p>
        <p class='geo-p-secondary'>Примерно, до 300 километров от города Калязин.</p>
      </section>
    </article>

    <article id='serv-section'>
      <header>
        <h1 class='card-h1'>Услуги</h1>
      </header>
      <section class='card'>
        {% for service in services %}
        <section class='serv'>
          <header>
            <h2 class='serv-h'>{{ service.header }}</h2>
          </header>
          {% if service.description %}
          <p class='serv-p-primary'>{{ service.description }}</p>
          {% endif %}
          {% if service.service_list %}
          <section>
            {% for subservice in service.service_list %}
            <section>
              <header>
                <h3 class='subserv-h'>{{ subservice.header }}</h3>
              </header>
              {% if subservice.description %}
                <p class='subserv-p'>{{ subservice.description }}</p>
              {% endif %}
            </section>
            {% endfor %}
          </section>
          {% endif %}
        </section>
        {% endfor %}
      </section>
    </article>

    <article>
      <header>
        <h1 class='card-h1'>Стоимость</h1>
      </header>
      <section class='card'>
        <header><h2 class='cost-h'>Цена договорная</h2></header>
        <p class='cost-p'>На стоимость влияют удобство подвоза материала и объём подготовительных работ (например, выпиливание кустов).</p>
      </section>
    </article>

    <article id='cont-section'>
      <header>
        <h1 class='card-h1'>Связаться с нами</h1>
      </header>
      <section class='cont-wrap'>
        <section class='cont card'>
          <section>
            <header>
              <h2 class='cont-h'>WhatsApp</h2>
            </header>
            <section>
              <p class='cont-p'>{{ name }}, {{ phone_number }}.</p>
            </section>
          </section>
          <a class='btn-primary' target='_blank' href='{{ whats_app_chat_link }}'>Открыть чат</a>
        </section>

        <section class='cont card'>
          <section>
            <header>
              <h2 class='cont-h'>Мы перезвоним</h2>
            </header>
            <section>
              <p class='cont-p'>Свяжемся в течение суток.</p>
            </section>
          </section>
          <!-- TODO: open dialog with yandex form -->
          <a class='btn-secondary' target='_blank' href='{{ callback_link }}'>Заказать обратный звонок</a>
        </section>

        <section class='cont card'>
          <section>
            <header>
              <h2 class='cont-h'>Вы позвоните</h2>
            </header>
            <section>
              <p class='cont-p'>Мы на связи с 11:00 утра до 20:00 вечера.</p>
            </section>
          </section>
          <!-- TODO: check that tel link works -->
          <a class='btn-tertiary' target='_blank' href='{{ tel_link }}'>{{ name }}, {{ phone_number }}</a>
        </section>
      </section>
    </article>

    <article id='proj-section'>
      <header>
        <h1 class='card-h1'>Наши проекты</h1>
      </header>
      
      <div class='proj-wrap'>
        {% for project in projects %}
        <section class='card proj'>
          <div>
            <img class='proj-img' src='{{ project.image_links[0] }}' />
          </div>
          <section class='proj-desc'>
            <h2 class='proj-h'>{{ project.header }}</h2>
            <p class='proj-p'>{{ project.description }}</p>
          </section>
        </section>
        {% endfor %}
      </div>
    </article>
  </div>

  <div class='footer-wrap'>
    <footer>
      <section>
        <p class='foot-copyright'>{{ copyright_symbol }} {{ copyright_year }} {{ site_developer_name }}</p>
      </section>
      <section>
        <a class='foot-dev' target='_blank' href='{{ site_developer_contact_link }}'>Связаться с разработчиком сайта</a>
      </section>
    </footer>
  </div>
</body>
